@import 'https://fonts.googleapis.com/css?family=Oswald';
body {
  font: "Oswald", sans-serif;
  font-weight: normal;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffaf4b+0,ff920a+100;Orange+3D+%231 */
  background: #ffaf4b;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffaf4b 0%, #ff920a 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffaf4b 0%, #ff920a 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffaf4b 0%, #ff920a 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 );
  /* IE6-9 */ }

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
  font-weight: normal; }

.button {
  font-family: "Oswald", sans-serif;
  font-weight: bold; }

div.row#powertoggle {
  padding-top: 10em;
  text-align: center; }
  @media only screen and (max-width: 40em) {
    div.row#powertoggle {
      width: 100%;
      padding-top: 2em; } }
